{% extends 'admin/admin.html' %}

{% block content %}
    <form method="POST">
        <div class="form-container">

            <label for="name"><b>Назва</b></label>
            <input type="text" name="name" value="{{ category.name }}" id="name" required>

            <label for="slug"><b>Слаг</b></label>
            <input type="text" name="slug" value="{{ category.slug }}" id="slug" required>

            <button type="submit" class="registerbtn">Зберегти</button>

        </div>
    </form>

{% endblock %}