{% extends 'admin/admin.html' %}

{% block content %}
    <form method="POST">
        <div class="form-container">
        {% if dish.ID %}
            <input type="number" name="ID" value="{{ dish.ID }}" hidden>
        {% endif %}

            <label for="img"><b>Зображення</b></label>
            <input type="text" name="Photo" value="{{ dish.Photo }}" id="img">

            <label for="name"><b>Назва</b></label>
            <input type="text" name="Dish_name" value="{{ dish.Dish_name }}" id="name" required>

            <label for="price"><b>Ціна</b></label>
            <input type="text" name="Price" value="{{ dish.Price }}" id="price" required>

            <label for="description"><b>Опис</b></label>
            <input type="text" name="Description" value="{{ dish.Description }}" id="description" required>

            <label for="available"><b>Наявність</b></label>
            <input type="text" name="Available" value="{{ dish.Available }}" id="available" required>

            <label for="category"><b>Категорія</b></label>
            <select name="Category" id="category" required>
                {% for category in categories %}
                    {% if dish.Category == category.id %}
                        <option value="{{ category.id }}" selected> {{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}"> {{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="ccal"><b>Калорії</b></label>
            <input type="text" name="Ccal" value="{{ dish.Ccal }}" id="ccal" required>

            <label for="protein"><b>Білки</b></label>
            <input type="text" name="Protein" value="{{ dish.Protein }}" id="protein" required>

            <label for="fat"><b>Жири</b></label>
            <input type="text" name="Fat" value="{{ dish.Fat }}" id="fat" required>

            <label for="carbs"><b>Вyглеводи</b></label>
            <input type="text" name="Carbs" value="{{ dish.Carbs }}" id="carbs" required>



            {% if dish.ID %}
                <button type="submit" class="registerbtn">Зберегти</button>
            {% else %}
                <button type="submit" class="registerbtn">Створити</button>
            {% endif %}
        </div>
    </form>

    {% if dish.ID %}
        <form action="/admin/dishes/{{ dish.ID }}/remove" method="POST">
            <input type="number" name="ID" value={{ dish.ID }} hidden>
            <button style="background-color: red" type="submit" class="registerbtn">Видалити</button>
        </form>
    {% endif %}

{% endblock %}