{% extends 'base.html' %}

{% block content %}
    <h2>Адреса</h2>
        {% if address %}
            <form method="POST">
            <div class="form-container">
                <label for="city"><b>Місто</b></label>
                <input type="text" name="city" value="{{ address.city }}" id="city" required>

                <label for="street"><b>Вулиця</b></label>
                <input type="text" name="street" value="{{ address.street }}" id="street" required>

                <label for="bldng"><b>Будівля</b></label>
                <input type="text" name="building" value="{{ address.building }}" id="bldng" required>

                <label for="apt"><b>Квартира</b></label>
                <input type="text" name="apt" value="{{ address.apt }}" id="apt" required>

                <label for="entrance"><b>Під'їзд</b></label>
                <input type="text" name="entrance" value="{{ address.entrance }}" id="entrance" required>

                <label for="floor"><b>Поверх</b></label>
                <input type="text" name="floor" value="{{ address.floor }}" id="floor" required>

                <button type="submit" class="registerbtn">Зберегти</button>

            </div>
            </form>
        {% else %}
        <h2>Not Found</h2>
        {% endif %}


{% endblock %}