{% extends 'base.html' %}

{% block content %}
    <h2>Ваші адреси</h2>

    <table>
        <tr>
            <th>Місто</th>
            <th>Вулиця</th>
            <th>Будівля</th>
            <th>Квартира</th>
            <th>Під'їзд</th>
            <th>Поверх</th>
            <th></th>
        </tr>

        {% for address in addresses %}
            <tr>
                <td>{{ address.city }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.building }}</td>
                <td>{{ address.apt }}</td>
                <td>{{ address.entrance }}</td>
                <td>{{ address.floor }}</td>
                <td><a href="{{ url_for("get_user_address_by_id", id=address.id) }}">Змінити</a></td>

            </tr>
    {% endfor %}
    </table>


{% endblock %}