{% extends 'base.html' %}

{% block content %}
    <h2>Замовлення</h2>

    <table>
        <tr>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Калорії</th>
            <th>Білки</th>
            <th>Вуглеводи</th>
            <th>Жири</th>
            <th></th>
        </tr>

        {% for dish in dishes %}
            <tr>
                <td>
                    <a href={{ url_for("get_dish_from_category", dish_id=dish.ID, category_name=dish.slug) }}> {{ dish.Dish_name }}</a>
                </td>
                <td>{{ dish.Price * dish.Quantity }}</td>
                <td>
                    <form method="POST">
                        <input type="number" min="1" max="6" name="quantity" value="{{ dish.Quantity }}">
                        <input type="number" name="id" value="{{ dish.ID }}"hidden>
                        <button type="submit">Змінити</button>
                    </form>

                </td>
                <td>{{ dish.Ccal * dish.Quantity }}</td>
                <td>{{ dish.Protein * dish.Quantity }}
                </td>
                <td>{{ dish.Carbs * dish.Quantity }}</td>
                <td>{{ dish.Fat * dish.Quantity }}</td>
                <td>
                    <form method="POST" action="/cart/remove/{{ dish.ID }}">
                        <button type="submit">Видалити</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>Загалом:</td>
            <td>{{ order_info.price }}</td>
            <td></td>
            <td>{{ order_info.ccal }}</td>
            <td>{{ order_info.protein }}</td>
            <td>{{ order_info.carb }}</td>
            <td>{{ order_info.fat }}</td>
            <td></td>
        </tr>

    </table>
    <form action="/cart/order" method="POST">
        <input hidden type="number" name="Price" value={{ order_info.price }}>
        <input hidden type="number" name="Ccal" value={{ order_info.ccal }}>
        <input hidden type="number" name="Protein" value={{ order_info.protein }}>
        <input hidden type="number" name="Carb" value={{ order_info.carb }}>
        <input hidden type="number" name="Fat" value={{ order_info.fat }}>
        <input hidden type="number" name="ID" value={{ order_info.order_id }}>

        <button class="button" type="submit">Оформити замовлення</button>
    </form>


{% endblock %}