{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for dish in dishes %}
            <div class="column">
                <div class="card">
                    <img src="{{ dish.Image }}" alt="{{ dish.dish_name }}" style="width:100%">
                    <a href="{{ url_for("get_dish_from_category", category_name=dish.slug, dish_id=dish.id) }}">
                        <h1>{{ dish.dish_name }}</h1></a>
                    <p class="price">{{ dish.price }}</p>
                    <a href="{{ url_for("get_category", category_name=dish.slug) }}">
                        <p>{{ dish.name }}</p></a>
                    <p>{{ dish.description }}</p>
                    <p>
                    <form method="POST" action="/cart/add">
                    <input type="number" name="price" value={{ dish.price }} hidden>
                    <input type="number" name="dish_id" value={{ dish.id }} hidden>
                    <input type="number" name="protein" value={{ dish.protein }} hidden>
                    <input type="number" name="ccal" value={{ dish.ccal }} hidden>
                    <input type="number" name="fat" value={{ dish.fat }} hidden>
                    <input type="number" name="carbs" value={{ dish.carbs }} hidden>
                    <label for="">Кількість</label>
                    <input type="number" min="1" max="6" name="quantity" value="1">
                    <button type="submit">Додати в кошик</button>

                </form>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}