{% extends 'base.html' %}

{% block content %}
    <h2>Ваші замовлення</h2>

    <table>
        <tr>
            <th>Номер замовлення</th>
            <th>Ціна</th>
            <th>Адреса</th>
            <th>Дата створення</th>
            <th>Оцінка</th>
        </tr>

        {% for order in orders %}
            <tr>
                <td><a href={{ url_for("get_order_from_history", id=order.ID) }}> {{ order.ID }}</a></td>
                <td>{{ order.Price }}</td>
                <td>{{ order.Address }}</td>
                <td>{{ order.Created_at }}</td>
                <td>{{ order.Rate }}</td>


            </tr>
        {% endfor %}


    </table>



{% endblock %}