{% extends 'base.html' %}

{% block content %}
 <form method="POST">
    <h1>Registration form </h1>
    <input type="text" name="Email" placeholder="Enter your email address">
    <input type="password" name="Password" placeholder="Create your password">
    <input type="text" name="Phone" placeholder="Phone number">
    <input type="text" name="First_name" placeholder="First name">
    <input type="text" name="Second_name" placeholder="Second name">
    <input type="text" name="Tg" placeholder="Telegram">
    <input type="submit">

    </form>
{% endblock %}